*.userprefs
*.suo
*.user
*.pdb
*.pidb
*.exe
*.pdb
*.dll
*.manifest
.cache

/packages
!.nuget/nuget.exe

Gohla.Shared/bin
Gohla.Shared/obj
Gohla.Shared.Composition/bin
Gohla.Shared.Composition/obj
Gohla.Shared.Json/bin
Gohla.Shared.Json/obj
Gohla.Shared.XML/bin
Gohla.Shared.XML/obj