*.userprefs
*.suo
*.user
*.pdb
*.pidb
*.exe
*.pdb
*.dll
*.manifest
.cache

/packages
!.nuget/nuget.exe

/Client/obj
/Client/bin/
/Protocol/obj
/Protocol/bin/
/Connection/obj
/Connection/bin/
/Interface/obj
/Interface/bin/
/ConsoleTest/obj
/ConsoleTest/bin/